html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background: var(--gray-100);
    font-weight: 600;
    overflow-x: hidden;
    overflow-y: auto;
}

span {
    font-weight: 600;
    letter-spacing: 0.02em;
    color: var(--deep-teal);
}

p, button {
    font-weight: 500;
    color: var(--deep-teal);
}

*, *::before, *::after {
    box-sizing: border-box;
}

button, a, nav, div, * {
    -webkit-tap-highlight-color: transparent;
}